In [365]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [366]:
import pandas as pd

from functions import *

pd.set_option('display.max_columns', None)

df_merged = pd.read_csv("data/df_merged_national.csv")

In [367]:
#df_merged.loc[:87, "Year"] = df_merged["Unnamed: 45"].iloc[:88].values

# Tuve que hacer esta pirula para que el csv 202019 y 202023 se puedan concatenar

In [368]:
df_merged = clean_df(df_merged)
df_merged = every_float_to_int(df_merged)

In [369]:
df_no_provincias = df_merged[(df_merged["region"] == "    DESCONOCIDA") | (df_merged["region"] == "    EN EL EXTRANJERO") | (df_merged["region"] == "    TOTAL NACIONAL")]

df_no_provincias.to_csv("data/df_no_provincias.csv", index=False)

In [370]:
df_merged = df_merged[~df_merged.index.isin(df_no_provincias.index)]

# df_merged.to_csv("data/df_merged_national.csv", index=False)

In [371]:
df_num = df_merged.iloc[:, df_merged.columns != 'region']

In [372]:
# df_num.corr()

df_merged.head()

,region,1_against_people,11_intentional_homicides_murders,111_intentional_homicides_murders_committed,12_injuries,13_domestic_violence,14_other_crimes_against_people,2_against_freedom,21_habitual_domestic_violence,22_other_crimes_against_freedom,3_sexual_freedom,31_sexual_assault,311_sexual_assault_with_penetration,32_corruption_of_minors_or_disabled,33_child_pornography,34_other_crimes_against_sexual_freedom,4_family_relationships,5_property_crimes,51_thefts,52_robbery_with_force,521_Robos_con_fuerza_en_las_cosas_en_el_interior_de_vehículos,522_robbery_with_force_in_homes,523_robbery_with_force_in_establishments,53_robbery_with_violence_or_intimidation,531_robbery_with_violence_in_public_ways,532_robbery_with_violence_in_homes,533_robbery_with_violence_in_establishments,54_vehicle_theft,55_fraud,551_computer_fraud,56_damage,57_against_intellectual_industrial_property,58_money_laundering,59_other_property_crimes,6_collective_security,61_drug_trafficking,62_against_road_safety,63_other_collective_security_crimes,7_forgeries,8_public_administration,9_justice_administration,10_public_order,11_special_legislation,12_other_criminal_offenses,year
0,ANDALUCÍA,45636,363,71,24848,19294,1131,32765,3007,29758,3473,2044,604,74,130,621,1702,289412,95492,47977,19215,14101,5953,7676,5028,630,1195,5957,84455,72795,35037,332,106,12380,16357,4790,11043,524,6596,99,8688,5455,141,2857,2023
1,ARAGÓN,6071,47,9,2949,2967,108,3139,301,2838,511,330,92,13,21,55,179,36261,10651,5550,1044,1955,747,1076,702,65,203,318,12353,10891,5095,23,4,1191,1651,552,1049,50,743,11,1056,967,5,271,2023
2,ASTURIAS (PRINCIPADO DE),4185,21,6,2235,1861,68,2421,92,2329,325,199,67,8,14,37,95,23761,7681,2581,586,990,561,424,216,44,109,259,8907,7897,2931,9,2,967,1047,190,779,78,439,4,838,511,5,257,2023
3,BALEARS (ILLES),10159,50,8,4495,5341,273,6339,678,5661,1050,709,156,21,32,132,237,53976,23009,6806,3195,1937,738,1519,994,82,228,1832,13522,10299,4912,89,7,2280,2871,776,1892,203,912,18,1667,914,3,363,2023
4,CANARIAS,15210,77,17,7847,6765,521,11181,1078,10103,1189,750,221,31,53,134,564,66962,26245,7853,2969,2120,1249,1858,1106,148,333,1451,19297,15752,7441,107,19,2691,3725,764,2802,159,1269,25,2295,1099,10,693,2023

In [373]:
# df_merged_dummies = pd.get_dummies(df_merged, columns=["region"])

# df_merged_dummies

In [374]:
df_merged = add_coordinates_from_dict(df_merged)

In [375]:
regions = {
    "ANDALUCÍA": 0,
    "ARAGÓN": 1,
    "ASTURIAS (PRINCIPADO DE)": 2,
    "BALEARS (ILLES)": 3,
    "CANTABRIA": 4,
    "CANARIAS": 5,
    "CASTILLA - LA MANCHA": 6,
    "CASTILLA Y LEÓN": 7,
    "CATALUÑA": 8,
    "CIUDAD AUTÓNOMA DE CEUTA": 9,
    "CIUDAD AUTÓNOMA DE MELILLA": 10,
    "COMUNITAT VALENCIANA": 11,
    "EXTREMADURA": 12,
    "GALICIA": 13,
    "MADRID (COMUNIDAD DE)": 14,
    "MURCIA (REGIÓN DE)": 15,
    "NAVARRA (COMUNIDAD FORAL DE)": 16,
    "PAÍS VASCO": 17,
    "RIOJA (LA)": 18
}


df_merged["region"] = df_merged["region"].replace(regions)

C:\Users\Iván\AppData\Local\Temp\ipykernel_19544\2512969448.py:24: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_merged["region"] = df_merged["region"].replace(regions)

In [376]:
df_merged.insert(0, "year", df_merged.pop("year"))

In [377]:
df_merged["avg_crimes"] = df_merged.iloc[:, 2:-4].mean(axis=1)      # [:, 2:-2] quiero -> todas las filas, desde la 2da hasta la penultima columna

In [378]:
df_merged = delete_sub_crimes(df_merged)

In [379]:
df_merged["Year - today"] = 2024 - df_merged["year"]

In [380]:
df_merged

,year,region,1_against_people,2_against_freedom,3_sexual_freedom,4_family_relationships,5_property_crimes,6_collective_security,7_forgeries,8_public_administration,9_justice_administration,Latitude,Longitude,avg_crimes,Year - today
0,2023,0,45636,32765,3473,1702,289412,16357,6596,99,8688,37.3873,-5.9869,22361.317073,1
1,2023,1,6071,3139,511,179,36261,1651,743,11,1056,41.6488,-0.8891,2776.536585,1
2,2023,2,4185,2421,325,95,23761,1047,439,4,838,43.3619,-5.8494,1848.146341,1
3,2023,3,10159,6339,1050,237,53976,2871,912,18,1667,39.5712,2.6466,4146.804878,1
4,2023,5,15210,11181,1189,564,66962,3725,1269,25,2295,28.2916,-16.6291,5499.512195,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,2010,16,2726,675,130,82,13770,1059,259,21,235,42.6954,-1.6761,977.414634,14
262,2010,17,11792,4257,417,337,65555,3241,543,25,1170,43.2630,-2.9349,4515.878049,14
263,2010,18,1695,170,49,31,6555,519,54,0,137,42.2871,-2.5396,484.804878,14
264,2010,9,833,277,18,31,3053,1381,53,2,101,35.8894,-5.3198,300.804878,14
265,2010,10,1011,126,38,30,2810,304,42,1,70,35.2930,-2.9387,237.951220,14

In [383]:
df_poblacion = pd.read_csv("data/poblacion_201019.csv")

df_poblacion

,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,2021.1,2020.1,2019.1,2018.1,2017.1,2016.1,2015.1,2014.1,2013.1,2012.1,2011.1,2010.1,2009.1,2008.1,2007.1,2006.1,2005.1,2004.1,2003.1,2002.1,2001.1,2000.1,1999.1,1998.1,1997.1,1996.1,2021.2,2020.2,2019.2,2018.2,2017.2,2016.2,2015.2,2014.2,2013.2,2012.2,2011.2,2010.2,2009.2,2008.2,2007.2,2006.2,2005.2,2004.2,2003.2,2002.2,2001.2,2000.2,1999.2,1998.2,1997.2,1996.2,Unnamed: 78
Total,47.385.107,47.450.795,47.026.208,46.722.980,46.572.132,46.557.008,46.624.382,46.771.341,47.129.783,47.265.321,47.190.493,47.021.031,46.745.807,46.157.822,45.200.737,44.708.964,44.108.530,43.197.684,42.717.064,41.837.894,41.116.842,40.499.791,40.202.160,39.852.651,"""",39.669.394,23.222.953,23.255.590,23.042.428,22.896.602,22.832.861,22.843.610,22.890.383,22.985.676,23.196.386,23.298.356,23.283.187,23.226.185,23.116.988,22.847.737,22.339.962,22.100.466,21.780.869,21.285.247,21.034.326,20.564.089,20.165.514,19.821.384,19.670.642,19.488.465,"""",19.399.549,24.162.154,24.195.205,23.983.780,23.826.378,23.739.271,23.713.398,23.733.999,23.785.665,23.933.397,23.966.965,23.907.306,23.794.846,23.628.819,23.310.085,22.860.775,22.608.498,22.327.661,21.912.437,21.682.738,21.273.805,20.951.328,20.678.407,20.531.518,20.364.186,"""",20.269.845,NaN
01 Andalucía,8.472.407,8.464.411,8.414.240,8.384.408,8.379.820,8.388.107,8.399.043,8.402.305,8.440.300,8.449.985,8.424.102,8.370.975,8.302.923,8.202.220,8.059.461,7.975.672,7.849.799,7.687.518,7.606.848,7.478.432,7.403.968,7.340.052,7.305.117,7.236.459,"""",7.234.873,4.173.339,4.170.605,4.147.167,4.133.898,4.133.835,4.139.194,4.144.532,4.148.701,4.170.654,4.180.285,4.169.634,4.144.856,4.113.383,4.071.500,3.999.243,3.958.565,3.889.605,3.800.208,3.757.370,3.687.421,3.647.194,3.609.412,3.592.680,3.558.950,"""",3.559.436,4.299.068,4.293.806,4.267.073,4.250.510,4.245.985,4.248.913,4.254.511,4.253.604,4.269.646,4.269.700,4.254.468,4.226.119,4.189.540,4.130.720,4.060.218,4.017.107,3.960.194,3.887.310,3.849.478,3.791.011,3.756.774,3.730.640,3.712.437,3.677.509,"""",3.675.437,NaN
02 Aragón,1.326.261,1.329.391,1.319.291,1.308.728,1.308.750,1.308.563,1.317.847,1.325.385,1.347.150,1.349.467,1.346.293,1.347.095,1.345.473,1.326.918,1.296.655,1.277.471,1.269.027,1.249.584,1.230.090,1.217.514,1.199.753,1.189.909,1.186.849,1.183.234,"""",1.187.546,655.248,656.056,650.694,645.498,645.895,647.206,652.687,656.964,669.987,671.898,671.286,673.177,673.819,664.403,646.996,636.659,632.148,620.874,610.210,603.149,592.682,586.122,584.361,582.366,"""",584.535,671.013,673.335,668.597,663.230,662.855,661.357,665.160,668.421,677.163,677.569,675.007,673.918,671.654,662.515,649.659,640.812,636.879,628.710,619.880,614.365,607.071,603.787,602.488,600.868,"""",603.011,NaN
03 Asturias,Principado de,1.011.792,1.018.784,1.022.800,1.028.244,1.034.960,1.042.608,1.051.229,1.061.756,1.068.165,1.077.360,1.081.487,1.084.341,1.085.289,1.080.138,1.074.862,1.076.896,1.076.635,1.073.761,1.075.381,1.073.971,1.075.329,1.076.567,1.084.314,1.081.834,"""",1.087.885,482.665,486.066,488.137,490.738,493.911,497.852,502.175,507.927,511.346,516.420,518.571,520.402,520.916,518.291,515.292,516.347,516.329,515.047,515.945,515.166,515.897,516.398,520.012,519.530,"""",522.981,529.127,532.718,534.663,537.506,541.049,544.756,549.054,553.829,556.819,560.940,562.916,563.939,564.373,561.847,559.570,560.549,560.306,558.714,559.436,558.805,559.432,560.169,564.302,562.304,564.904,NaN
04 Balears,Illes,1.173.008,1.171.543,1.149.460,1.128.908,1.115.999,1.107.220,1.104.479,1.103.442,1.111.674,1.119.439,1.113.114,1.106.049,1.095.426,1.072.844,1.030.650,1.001.062,983.131,955.045,947.361,916.968,878.627,845.630,821.820,796.483,"""",760.379,584.853,584.298,572.757,561.803,554.925,550.682,549.678,549.801,554.603,560.091,557.577,555.204,551.079,540.395,517.593,501.899,492.642,478.046,474.248,458.349,437.340,419.095,406.358,392.835,"""",373.891,588.155,587.245,576.703,567.105,561.074,556.538,554.801,553.641,557.071,559.348,555.537,550.845,544.347,532.449,513.057,499.163,490.489,476.999,473.113,458.619,441.287,426.535,415.462,403.648,386.488,NaN
05 Canarias,2.172.944,2.175.952,2.153.389,2.127.685,2.108.121,2.101.924,2.100.306,2.104.815,2.118.679,2.118.344,2.126.769,2.118.519,2.103.992,2.075.968,2.025.951,1.995.833,1.968.280,1.915.540,1.894.868,1.843.755,1.781.366,1.716.276,1.672.689,1.630.015,"""",1.606.534,1.074.180,1.076.185,1.065.971,1.054.032,1.045.113,1.042.838,1.043.203,1.046.373,1.055.302,1.056.240,1.061.591,1.058.706,1.052.636,1.040.137,1.015.493,1.001.394,988.230,960.658,950.159,923.353,890.549,854.899,831.707,808.092,"""",797.230,1.098.764,1.099.767,1.087.418,1.073.653,1.063.008,1.059.086,1.057.103,1.058.442,1.063.377,1.062.104,1.065.178,1.059.813,1.051.356,1.035.831,1.010.458,994.439,980.050,954.882,944.709,920.402,890.817,861.377,840.982,821.923,809.304,NaN,NaN
06 Cantabria,584.507,582.905,581.078,580.229,580.295,582.206,585.179,588.656,591.888,593.861,593.121,592.250,589.235,582.138,572.824,568.091,562.309,554.784,549.690,542.275,537.606,531.159,528.478,527.137,"""",527.437,283.378,282.559,281.801,281.564,281.808,282.988,284.788,286.782,288.643,289.999,289.872,289.931,288.735,285.469,280.283,277.869,274.797,270.907,268.309,264.492,261.967,258.682,257.495,256.766,"""",256.946,301.129,300.346,299.277,298.665,298.487,299.218,300.391,301.874,303.245,303.862,303.249,302.319,300.500,296.669,292.541,290.222,287.512,283.877,281.381,277.783,275.639,272.477,270.983,270.371,270.491,NaN,NaN
07 Castilla y León,2.383.139,2.394.918,2.399.548,2.409.164,2.425.801,2.447.519,2.472.052,2.494.790,2.519.875,2.546.078,2.558.463,2.559.515,2.563.521,2.557.330,2.528.417,2.523.020,2.510.849,2.493.918,2.487.646,2.480.369,2.479.425,2.479.118,2.488.062,2.484.603,"""",2.508.496,1.173.114,1.178.846,1.181.401,1.186.363,1.195.251,1.206.775,1.219.616,1.232.250,1.246.377,1.261.141,1.267.671,1.268.860,1.272.020,1.269.338,1.251.082,1.247.158,1.240.450,1.231.258,1.228.177,1.223.935,1.222.612,1.221.973,1.227.156,1.225.516,"""",1.238.129,1.210.025,1.216.072,1.218.147,1.222.801,1.230.550,1.240.744,1.252.436,1.262.540,1.273.498,1.284.937,1.290.792,1.290.655,1.291.501,1.287.992,1.277.335,1.275.862,1.270.399,1.262.660,1.259.469,1.256.434,1.256.813,1.257.145,1.260.906,1.259.087,1.270.367,NaN,NaN
08 Castilla - La Mancha,2.049.562,2.045.221,2.032.863,2.026.807,2.031.479,2.041.631,2.059.191,2.078.611,2.100.998,2.121.888,2.115.334,2.098.373,2.081.313,2.043.100,1.977.304,1.932.261,1.894.667,1.848.881,1.815.781,1.782.038,1.755.053,1.734.261,1.726.199,1.716.152,"""",1.712.529,1.026.128,1.023.740,1.016.954,1.014.199,1.016.761,1.022.722,1.032.673,1.043.880,1.056.960,1.069.648,1.066.598,1.059.149,1.051.668,1.033.131,995.668,970.867,950.976,925.694,907.656,888.987,873.287,860.657,856.604,851.354,"""",849.076,1.023.434,1.021.481,1.015.909,1.012.608,1.014.718,1.018.909,1.026.518,1.034.731,1.044.038,1.052.240,1.048.736,1.039.224,1.029.645,1.009.969,981.636,961.394,943.691,923.187,908.125,893.051,881.766,873.604,869.595,864.798,863.453,NaN,NaN
09 Cataluña,7.763.362,7.780.479,7.675.217,7.600.065,7.555.830,7.522.596,7.508.106,7.518.903,7.553.650,7.570.908,7.539.618,7.512.381,7.475.420,7.364.078,7.210.508,7.134.697,6.995.206,6.813.319,6.704.146,6.506.440,6.361.365,6.261.999,6.207.533,6.147.610,"""",6.090.040,3.819.831,3.826.964,3.770.123,3.730.326,3.710.200,3.697.368,3.691.745,3.701.740,3.725.318,3.741.628,3.732.196,3.724.515,3.713.765,3.661.028,3.578.176,3.543.706,3.468.235,3.366.329,3.309.850,3.201.029,3.115.336,3.058.628,3.030.196,2.997.637,"""",2.971.789,3.943.531,3.953.515,3.905.094,3.869.739,3.845.630,3.825.228,3.816.361,3.817.163,3.828.332,3.829.280,3.807.422,3.787.866,3.761.655,3.703.050,3.632.332,3.590.991,3.526.971,3.446.990,3.394.296,3.305.411,3.246.029,3.203.371,3.177.337,3.149.973,3.118.251,NaN,NaN
10 Comunitat Valenciana,5.058.138,5.057.353,5.003.769,4.963.703,4.941.509,4.959.968,4.980.689,5.004.844,5.113.815,5.129.266,5.117.190,5.111.706,5.094.675,5.029.601,4.885.029,4.806.908,4.692.449,4.543.304,4.470.885,4.326.708,4.202.608,4.120.729,4.066.474,4.023.441,"""",4.009.329,2.491.394,2.492.121,2.465.342,2.446.383,2.436.203,2.448.748,2.460.805,2.475.081,2.534.539,2.546.404,2.541.780,2.542.949,2.537.898,2.508.433,2.432.162,2.394.307,2.332.283,2.251.812,2.213.010,2.136.323,2.066.487,2.020.667,1.993.258,1.970.767,"""",1.962.181,2.566.744,2.565.232,2.538.427,2.517.320,2.505.306,2.511.220,2.519.884,2.529.763,2.579.276,2.582.862,2.575.410,2.568.757,2.556.777,2.521.168,2.452.867,2.412.601,2.360.166,2.291.492,2.257.875,2.190.385,2.136.121,2.100.062,2.073.216,2.052.674,2.047.148,NaN,NaN
11 Extremadura,1.059.501,1.063.987,1.067.710,1.072.863,1.079.920,1.087.778,1.092.997,1.099.632,1.104.004,1.108.130,1.109.367,1.107.220,1.102.410,1.097.744,1.089.990,1.086.373,1.083.879,1.075.286,1.073.904,1.073.050,1.073.381,1.069.420,1.073.574,1.069.419,"""",1.070.244,523.976,526.288,528.500,531.255,535.060,539.239,542.078,545.616,548.054,550.324,550.864,549.721,547.550,546.192,541.692,540.352,539.225,534.704,533.891,533.539,533.622,531.144,533.506,530.994,"""",530.500,535.525,537.699,539.210,541.608,544.860,548.539,550.919,554.016,555.950,557.806,558.503,557.499,554.860,551.552,548.298,546.021,544.654,540.582,540.013,539.511,539.759,538.276,540.068,538.425,539.744,NaN,NaN
12 Galicia,2.695.645,2.701.819,2.699.499,2.701.743,2.708.339,2.718.525,2.732.347,2.748.695,2.765.940,2.781.498,2.795.422,2.797.653,2.796.089,2.784.169,2.772.533,2.767.524,2.762.198,2.750.985,2.751.094,2.737.370,2.732.926,2.731.900,2.730.337,2.724.544,"""",2.742.622,1.297.301,1.300.153,1.298.964,1.300.609,1.304.392,1.309.809,1.317.054,1.325.657,1.335.122,1.343.328,1.349.591,1.350.547,1.349.603,1.344.268,1.337.159,1.333.797,1.330.703,1.324.987,1.324.385,1.316.721,1.314.078,1.312.391,1.312.881,1.310.415,"""",1.320.347,1.398.344,1.401.666,1.400.535,1.401.134,1.403.947,1.408.716,1.415.293,1.423.038,1.430.818,1.438.170,1.445.831,1.447.106,1.446.486,1.439.901,1.435.374,1.433.727,1.431.495,1.425.998,1.426.709,1.420.649,1.418.848,1.419.509,1.417.456,1.414.129,1.422.275,NaN,NaN
13 Madrid,Comunidad de,6.751.251,6.779.888,6.663.394,6.578.079,6.507.184,6.466.996,6.436.996,6.454.440,6.495.551,6.498.560,6.489.680,6.458.684,6.386.932,6.271.638,6.081.689,6.008.183,5.964.143,5.804.829,5.718.942,5.527.152,5.372.433,5.205.408,5.145.325,5.091.336,"""",5.022.289,3.229.700,3.243.793,3.187.312,3.147.872,3.115.522,3.098.631,3.087.022,3.099.641,3.123.724,3.130.241,3.132.844,3.124.438,3.094.874,3.040.658,2.943.778,2.908.654,2.887.718,2.804.962,2.760.877,2.663.407,2.584.779,2.501.285,2.472.098,2.444.919,"""",2.411.548,3.521.551,3.536.095,3.476.082,3.430.207,3.391.662,3.368.365,3.349.974,3.354.799,3.371.827,3.368.319,3.356.836,3.334.246,3.292.058,3.230.980,3.137.911,3.099.529,3.076.425,2.999.867,2.958.065,2.863.745,2.787.654,2.704.123,2.673.227,2.646.417,2.610.741,NaN
14 Murcia,Región de,1.518.486,1.511.251,1.493.898,1.478.509,1.470.273,1.464.847,1.467.288,1.466.818,1.472.049,1.474.449,1.470.069,1.461.979,1.446.520,1.426.109,1.392.117,1.370.306,1.335.792,1.294.694,1.269.230,1.226.993,1.190.378,1.149.328,1.131.128,1.115.068,"""",1.097.249,760.362,756.699,747.615,740.143,736.238,733.555,735.434,735.889,739.842,742.727,741.581,738.627,731.609,722.999,706.326,697.027,677.049,652.057,639.795,616.236,595.757,570.125,559.888,551.343,"""",541.069,758.124,754.552,746.283,738.366,734.035,731.292,731.854,730.929,732.207,731.722,728.488,723.352,714.911,703.110,685.791,673.279,658.743,642.637,629.435,610.757,594.621,579.203,571.240,563.725,556.180,NaN
15 Navarra,Comunidad Foral de,661.537,661.197,654.214,647.554,643.234,640.647,640.476,640.790,644.477,644.566,642.051,636.924,630.578,620.377,605.876,601.874,593.472,584.734,578.210,569.628,556.263,543.757,538.009,530.819,"""",520.574,327.465,327.226,323.631,320.469,318.671,317.840,317.885,318.486,320.933,321.453,320.656,318.423,315.486,310.282,302.330,300.917,296.587,292.059,288.991,284.620,277.118,269.826,266.711,262.687,"""",257.718,334.072,333.971,330.583,327.085,324.563,322.807,322.591,322.304,323.544,323.113,321.395,318.501,315.092,310.095,303.546,300.957,296.885,292.675,289.219,285.008,279.145,273.931,271.298,268.132,262.856,NaN
16 País Vasco,2.213.993,2.220.504,2.207.776,2.199.088,2.194.158,2.189.534,2.189.257,2.188.985,2.191.682,2.193.093,2.184.606,2.178.339,2.172.175,2.157.112,2.141.860,2.133.684,2.124.846,2.115.279,2.112.204,2.108.281,2.101.478,2.098.596,2.100.441,2.098.628,"""",2.098.055,1.076.385,1.079.452,1.073.074,1.068.750,1.066.905,1.065.580,1.065.925,1.066.369,1.068.746,1.070.438,1.066.872,1.064.708,1.062.412,1.055.150,1.046.795,1.043.849,1.040.525,1.035.863,1.034.326,1.032.209,1.028.392,1.026.651,1.028.146,1.026.915,"""",1.027.114,1.137.608,1.141.052,1.134.702,1.130.338,1.127.253,1.123.954,1.123.332,1.122.616,1.122.936,1.122.655,1.117.734,1.113.631,1.109.763,1.101.962,1.095.065,1.089.835,1.084.321,1.079.416,1.077.878,1.076.072,1.073.086,1.071.945,1.072.295,1.071.713,1.070.941,NaN,NaN
17 Rioja,La,319.796,319.914,316.798,315.675,315.381,315.794,317.053,319.002,322.027,323.609,322.955,322.415,321.702,317.501,308.968,306.377,301.084,293.553,287.390,281.614,270.400,264.178,265.178,263.644,"""",264.941,157.823,157.835,156.179,155.758,155.508,155.969,156.733,158.090,160.159,161.574,161.582,161.884,162.173,160.342,155.773,154.556,151.730,147.214,143.995,140.780,134.506,130.956,131.518,130.708,"""",131.183,161.973,162.079,160.619,159.917,159.873,159.825,160.320,160.912,161.868,162.035,161.373,160.531,159.529,157.159,153.195,151.821,149.354,146.339,143.395,140.834,135.894,133.222,133.660,132.936,133.758,NaN
18 Ceuta,83.517,84.202,84.777,85.144,84.959,84.519,84.263,84.963,84.180,84.018,82.376,80.579,78.674,77.389,76.603,75.861,75.276,74.654,74.931,76.152,75.694,75.241,73.704,72.117,"""",68.796,42.208,42.542,42.912,43.177,43.034,42.846,42.757,43.354,43.060,42.948,42.165,41.269,40.118,39.385,38.913,38.581,38.315,38.113,38.395,39.195,38.884,38.497,37.115,36.102,"""",34.229,41.309,41.660,41.865,41.967,41.925,41.673,41.506,41.609,41.120,41.070,40.211,39.310,38.556,38.004,37.690,37.280,36.961,36.541,36.536,36.957,36.810,36.744,36.589,36.015,"""",34.567,NaN
19 Melilla,86.261,87.076,86.487,86.384,86.120,86.026,85.584,84.509,83.679,80.802,78.476,76.034,73.460,71.448,69.440,66.871,65.488,68.016,68.463,69.184,68.789,66.263,56.929,60.108,"""",59.576,43.603,44.162,43.894,43.765,43.629,43.768,43.593,43.075,43.017,41.569,40.256,38.819,37.244,36.336,35.208,33.962,33.322,34.455,34.737,35.178,35.027,33.976,28.952,30.569,"""",29.647,42.658,42.914,42.593,42.619,42.491,42.258,41.991,41.434,40.662,39.233,38.220,37.215,36.216,35.112,34.232,32.909,32.166,33.561,33.726,34.006,33.762,32.287,27.977,29.539,"""",29.929,NaN